html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: left;
    font-family: 'Arial', sans-serif;
}

h2.custom-h2 {
    font-size: 24px;
    margin: 30px 0;
    padding: 0;
    text-align: left;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.htmlbox, .cssbox, .javascriptbox, .cbox {
    margin: auto;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    color: #ffffff;
    background: #808080;
}

.navbar a.nav-link:hover {
    color: #f9d423;
    border-bottom: 2px solid #f9d423;
}

footer .container {
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.7);
    padding: 20px 0px;
    font-size: 12px;
    margin-top: 50px;
    text-align: center;
}
